%div
  %div.modal-header
    %h3 Change Password

  %div.modal-body
    %form
      .form-group(ng-class="{'has-error': error}")
        %label.control-label(for="password")
          Password
        %input.form-control#password(type="password" placeholder="enter password" ng-model="password")

      .form-group(ng-class="{'has-error': error}")
        %label.control-label(for="confirmation")
          Confirm password
        %input.form-control#confirmation(type="password" placeholder="confirm password" ng-model="confirmation")

  %div.modal-footer
    %button.btn.btn-primary(type="button" ng-click="ok()")
      OK
    %button.btn.btn-danger(type="button" ng-click="cancel()")
      Cancel
